
.question{
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#survey{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    height: 200px;
    width: 50vw;

    background-color: beige;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

